<h1>Add a New Word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">New Word!</label>    
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>