<h1>Add a New Word</h1>
<p>Type in a word in the form below that you would like to add to your list of words. After you submit the new word, feel free to keep adding to your list! We will keep track of them all by storing them in your list of Wonderful Words.</p>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">New Word!</label>    
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add my Word!</button>
</form>