<h1>Dynamic Dictionary</h1>
<p>Let's learn together! If you don't know what a word means, but you would like to learn it, add it to the list! You can even add your own definitions for the words as you learn them. If you don't know the definition yet, feel free to make one up! You can have as many definitions as you want for each word, and can always delete an old definition and update it with a new one as you keep learning!</p>

<h3>A list of your Wonderful Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= "#{word.word}" %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %> 

<a href="/words/new">Add a new word!</a>